@model TheTome.ViewModels.BooksViewModel;

@{
    Layout = null;
}

<script>
    function pressLike(id) {
        var image = document.getElementById("likeBtn-" + id);
        if (image.src === "https://img.icons8.com/ios/48/000000/star--v1.png") {
            image.src = "https://img.icons8.com/ios-filled/48/000000/star--v1.png";
        }
        else {
            image.src = "https://img.icons8.com/ios/48/000000/star--v1.png";
        }
    }
    
    function addToCart(id) {
            var btn = document.getElementById("buyBtn-" + id);
            if (btn.classList.contains("btn-primary")) {
                btn.textContent = "Remove from cart";
                btn.classList.remove("btn-primary");
                btn.classList.add("btn-danger")
            }
            else {
                btn.textContent = "Buy now";
                btn.classList.remove("btn-danger");
                btn.classList.add("btn-primary")
            }
        }
</script>

<div class="row" id="books-list">
    @foreach (var obj in Model.Books)
    {
        <div class="col-sm-6 mb-4" style="width: 310px">
            <div class="book-presentation" style="height: 435px">
                <a asp-controller="Market" asp-action="BookViewer" asp-route-bookId="@obj.Id">
                    <div class="bg-blur" style="background-image: url(@obj.CoverUrl);">
                        <img class="img-fluid center-img content p-1" src="@obj.CoverUrl" alt="Cover" style="height: 250px; width: auto"/>
                    </div>
                </a>

                <div class="m-3 row" style="height: 90px">
                    <div style="width: 200px">
                        <h6 class="text-wrap" style="margin: 0">@obj.Title</h6>
                        <p class="text-muted">@obj.Author</p>
                    </div>
                    <strong class="text-end col-sm-2" style="padding: 0">@obj.Price$</strong>
                </div>

                <div class="row m-3">
                    <a asp-controller="Market" asp-action="GiveStarToBook" asp-route-bookId="@obj.Id"
                       class="ms-1 mb-1 text-xl-end bg-white col-lg-3" role="button" onclick="pressLike(@obj.Id)"
                       style="height: 25px; width: 55px;">

                        @{
                            var isLiked = Model.BooksLikedByUser != null && Model.BooksLikedByUser.Exists(b => b.Id == obj.Id);
                            var starIcon = isLiked
                                ? "https://img.icons8.com/ios-filled/48/000000/star--v1.png"
                                : "https://img.icons8.com/ios/48/000000/star--v1.png";
                        }

                        <img class="img-fluid" style="height: 25px; width: 25px;" src="@starIcon" alt="LikeIt" id="likeBtn-@obj.Id"/>
                    </a>

                    @{
                        var isObjBought = Model.BooksInCart != null &&
                                          Model.BooksInCart.Exists(b => b.Id == obj.Id);
                        var buyNowBtn = isObjBought ? "btn-danger" : "btn-primary";
                    }

                    <a class="btn col-sm-9 @buyNowBtn" asp-controller="Cart" asp-action="BuyBookToggle" asp-route-bookId="@obj.Id"
                       onclick="addToCart(@obj.Id)" id="buyBtn-@obj.Id">
                        @{
                            if (isObjBought)
                            {
                                <div>Remove from cart</div>
                            }
                            else
                            {
                                <div>Buy now</div>
                            }
                        }
                    </a>
                </div>
            </div>
        </div>
    }
</div>